# TimeScaleDB Configuration
TIMESCALEDB_HOST=localhost
TIMESCALEDB_PORT=5432
TIMESCALEDB_USER=postgres
TIMESCALEDB_PASSWORD=seu_password_aqui
TIMESCALEDB_DB=timescaledb

# Server
PORT=8000
NODE_ENV=development
